<%- include header.ejs %>
    
    
    <!--side bar code here-->
    
    
            <div class="container-fluid">
    <div class="row">
        
        <%- include user_sidebar.ejs %>
        
        
        <!--main content begin here-->
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="padding:0">
        <div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="/admin">Home</a>
							</li>
							<li class="active">Dashboard</li>
							<li>overview &amp; stats</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content">
						<!-- /.ace-settings-container -->

						

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="alert alert-block alert-success">
									<button type="button" class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>

							

									Welcome to
									<strong class="green">
										Equipshare
									
									</strong>									</div>

								<div class="row">
                                    <div class="space-6"></div>
                                    
                                    
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                             
                               <form class="form-verticle" action="/user_search" method="post">
                              <div class="row">
                              <div class="col-lg-4 col-lg-push-2 col-md-6 col-sm-12 col-xs-12">
                                  <!--<form action="/search" method="post">-->
                                  <div class="form-group">
                              <label  class="header blue lighter less-margin"><strong>Machine Category</strong></label>
                                          <select class = "form-control" name="category"  onchange="if(this.value!= 0) { find_subcategory(this.value);}">
                                                       <option value="">Select Category</option>
                                                    <%for(var i =0; i< cat_rows.length; i++){%>
                                                    <option value="<%=cat_rows[i].category%>"><%=cat_rows[i].category%></option>
                                                    <%}%>                  
                                                    </select>      
                                            </div>
                                  </div>                                                                            
                                          <div class="col-lg-4 col-lg-push-2 col-md-6 col-sm-12 col-xs-12">
                                  <div class="form-group">
                                      <label  class="header blue lighter less-margin" ><strong>Machine Sub - Category</strong></label>
                                           <select  class = "form-control" name="subcategory"  list="subcat" id = "subcat" autocomplete="off"  required >
                                           </select> 
                                  </div>
										  </div>
										</div>
										<div class="row">
												<div class="col-lg-push-5 col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<div class=" form-group radio">
												<label class="header blue lighter less-margin"><input type="radio" name="sort" value= "1"><strong>Used</strong></label>
											  </div>
											  </div>
											  <div class=" col-lg-push-2 col-lg-4 col-md-4 col-sm-12 col-xs-12">
											  <div class="form-group radio">
												<label class="header blue lighter less-margin"><input type="radio" name="sort" value= "0" ><strong>New</strong></label>
											  </div>
											</div>
                                          <div class="col-lg-4 col-lg-pull-1 col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                              <!--button type="submit" class="btn btn-success custom-upper-btn" >Add Equipment</button-->
                              <input type="submit" class="btn btn-success custom-upper-btn less-margin" value="SEARCH">
                                            </div>
                                          </div>
    									</div>
                                     <!-- </form> -->
                                      
                                 </form>
                                                  </div>
                          
                                                   </div>
                                                   
												   <div class="hr hr32 hr-dotted"></div>          
                                                   
                        </div>   
						        
                             <div class="space-6"></div>
									<div class="container">
										<div class=" col-lg-6 col-md-6">
												<div class="space-6"></div>
										   <h1 class="header blue lighter " style="border:10px;">Stats here</h1>	
                                        </div>										
										<div class="space-6"></div>																							
									<div class="vspace-12-sm"></div>
									<div class="col-lg-6 col-md-6">
										<h1 class="header blue lighter " style="border:10px;">News Here</h1>	
									 </div>	
									</div><!-- /.row -->

								<div class="hr hr32 hr-dotted"></div>

								<div class="space-6"></div>

								 <!--image list here--> 
								 <div class="album py-5 bg-light" >
										<div class="container">
											<div><h1 class="mb-10 blue lighter" ><center>Featured Equipments</center></h1></div>
											<div class="space-6"></div>
											<div class="row">
												<%for(var i = 0 ; i< featured.length ; i++){%>
											  <div class="col-md-4">
												<div class="card border-secondary mb-4 box-shadow" style="width:30rem ;">
												  <img class="card-img-top" onmouseover="bigImg(this)" onmouseout="normalImg(this)" alt="Equipment name" style="height: 225px; width: 100%; display: block;" src= "/images/old/<%=featured[i].photo1%>"  data-holder-rendered="true">
												  <div class="card-body text-secondary">
													<h4 class="card-title"><center><%=featured[i].subcategory%></center></h4>
													<h4> <span class="text-primary"><center><i class="fa fa-inr"></i><%=featured[i].expected_price%></center></span></h4>
													<div class="d-flex justify-content-between align-items-center">
													  
														<div class="row">
															<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
															<p class="machine-type-custom text-center"><strong>Brand <br> </strong><%=featured[i].brand%></p>
															</div>
															
															 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
															<p class="machine-type-custom text-center"><strong>Model <br> </strong><%=featured[i].model%></p>
															</div>
															</div>
														
													<center>
														<a href="/view<%=featured[i].id%>" <button type="button" class="btn btn-primary">View Details</button>
														</a>
													</center>
														 </div>
												  </div>
												</div>
											  </div>
								  				<%}%>
											  <!-- <div class="col-md-4">
												  <div class="card border-secondary mb-4 "  style="width:30rem ;">
													<img class="card-img-top" onmouseover="bigImg(this)" onmouseout="normalImg(this)" style="height: 225px; width: 100%; display: block;" src="/equipment3.jpg"  alt="Equipment name">
													<div class="card-body text-secondary">
													  <h2 class="card-title">Blackhoes &nbsp &nbsp&nbsp<span class="text-primary"><i class="fa fa-inr"></i>1000</span></h2>
													  <div class="d-flex justify-content-between align-items-center">
														<div class="para">
														  <div class="row">
															  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
															  <p class="machine-type-custom text-center"><strong>Brand <br> </strong>TATA</p>
															  </div>
															  
															   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
															  <p class="machine-type-custom text-center"><strong>Model <br> </strong>T89H</p>
															  </div>
															  </div>
														  </div>
														 <center> <button type="button" class="btn btn-primary">View Details</button></center>
														   </div>
													</div>
												  </div>
												</div>
								  
												<div class="col-md-4">
													<div class="card border-secondary mb-4 box-shadow"  style="width:30rem ;">
													  <img class="card-img-top" onmouseover="bigImg(this)" onmouseout="normalImg(this)" alt="Equipment name" style="height: 225px; width: 100%; display: block;" src="/equipment2.jpg" data-holder-rendered="true">
													  <div class="card-body text-secondary">
														<h2 class="card-title">Blackhoes &nbsp&nbsp&nbsp<span class="text-primary"><i class="fa fa-inr"></i>1000</span></h2>
														<div class="d-flex justify-content-between align-items-center">
														  <div class="para">
															<div class="row">
																<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
																<p class="machine-type-custom text-center"><strong>Brand <br> </strong>TATA</p>
																</div>
																
																 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
																<p class="machine-type-custom text-center"><strong>Model <br> </strong>T89H</p>
																</div>
																</div>
															</div>
														<center>	<button type="button" class="btn btn-primary">View Details</button></center>
															 </div>
													  </div>
													</div>
												  </div> -->
												 
											   
											 </div>
										  </div>
										</div>                   
							
												  

								<div class="hr hr32 hr-dotted"></div>

								
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Ace</span>
							Application &copy; 2013-2014
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>
				</div>
			</div>
            
            
        
        </div><!--end col 8 here-->
        
        
        
        <!--end main content here-->    
        </div>
    </div>
    

    
    
    
	<!-- basic scripts -->
	<script>
			function bigImg(x) {
				x.style.height = "255px";
				x.style.width = "120%";
			}
			
			function normalImg(x) {
				x.style.height = "225px";
				x.style.width = "100%";
			}
			</script>

		<!--[if !IE]> -->
		<script src="assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="assets/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="assets/js/jquery-ui.custom.min.js"></script>
		<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="assets/js/jquery.easypiechart.min.js"></script>
		<script src="assets/js/jquery.sparkline.index.min.js"></script>
		<script src="assets/js/jquery.flot.min.js"></script>
		<script src="assets/js/jquery.flot.pie.min.js"></script>
		<script src="assets/js/jquery.flot.resize.min.js"></script>
        

		<!-- ace scripts -->
		<script src="assets/js/ace-elements.min.js"></script>
		<script src="assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
				$('.easy-pie-chart.percentage').each(function(){
					var $box = $(this).closest('.infobox');
					var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
					var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
					var size = parseInt($(this).data('size')) || 50;
					$(this).easyPieChart({
						barColor: barColor,
						trackColor: trackColor,
						scaleColor: false,
						lineCap: 'butt',
						lineWidth: parseInt(size/10),
						animate: ace.vars['old_ie'] ? false : 1000,
						size: size
					});
				})
			
				$('.sparkline').each(function(){
					var $box = $(this).closest('.infobox');
					var barColor = !$box.hasClass('infobox-dark') ? $box.css('color') : '#FFF';
					$(this).sparkline('html',
									 {
										tagValuesAttribute:'data-values',
										type: 'bar',
										barColor: barColor ,
										chartRangeMin:$(this).data('min') || 0
									 });
				});
			
			
			  //flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
			  //but sometimes it brings up errors with normal resize event handlers
			  $.resize.throttleWindow = false;
			
			  var placeholder = $('#piechart-placeholder').css({'width':'90%' , 'min-height':'150px'});
			  var data = [
				{ label: "social networks",  data: 38.7, color: "#68BC31"},
				{ label: "search engines",  data: 24.5, color: "#2091CF"},
				{ label: "ad campaigns",  data: 8.2, color: "#AF4E96"},
				{ label: "direct traffic",  data: 18.6, color: "#DA5430"},
				{ label: "other",  data: 10, color: "#FEE074"}
			  ]
			  function drawPieChart(placeholder, data, position) {
			 	  $.plot(placeholder, data, {
					series: {
						pie: {
							show: true,
							tilt:0.8,
							highlight: {
								opacity: 0.25
							},
							stroke: {
								color: '#fff',
								width: 2
							},
							startAngle: 2
						}
					},
					legend: {
						show: true,
						position: position || "ne", 
						labelBoxBorderColor: null,
						margin:[-30,15]
					}
					,
					grid: {
						hoverable: true,
						clickable: true
					}
				 })
			 }
			 drawPieChart(placeholder, data);
			
			 /**
			 we saved the drawing function and the data to redraw with different position later when switching to RTL mode dynamically
			 so that's not needed actually.
			 */
			 placeholder.data('chart', data);
			 placeholder.data('draw', drawPieChart);
			
			
			  //pie chart tooltip example
			  var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
			  var previousPoint = null;
			
			  placeholder.on('plothover', function (event, pos, item) {
				if(item) {
					if (previousPoint != item.seriesIndex) {
						previousPoint = item.seriesIndex;
						var tip = item.series['label'] + " : " + item.series['percent']+'%';
						$tooltip.show().children(0).text(tip);
					}
					$tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
				} else {
					$tooltip.hide();
					previousPoint = null;
				}
				
			 });
			
				/////////////////////////////////////
				$(document).one('ajaxloadstart.page', function(e) {
					$tooltip.remove();
				});
			
			
			
			
				var d1 = [];
				for (var i = 0; i < Math.PI * 2; i += 0.5) {
					d1.push([i, Math.sin(i)]);
				}
			
				var d2 = [];
				for (var i = 0; i < Math.PI * 2; i += 0.5) {
					d2.push([i, Math.cos(i)]);
				}
			
				var d3 = [];
				for (var i = 0; i < Math.PI * 2; i += 0.2) {
					d3.push([i, Math.tan(i)]);
				}
				
			
				var sales_charts = $('#sales-charts').css({'width':'100%' , 'height':'220px'});
				$.plot("#sales-charts", [
					{ label: "Domains", data: d1 },
					{ label: "Hosting", data: d2 },
					{ label: "Services", data: d3 }
				], {
					hoverable: true,
					shadowSize: 0,
					series: {
						lines: { show: true },
						points: { show: true }
					},
					xaxis: {
						tickLength: 0
					},
					yaxis: {
						ticks: 10,
						min: -2,
						max: 2,
						tickDecimals: 3
					},
					grid: {
						backgroundColor: { colors: [ "#fff", "#fff" ] },
						borderWidth: 1,
						borderColor:'#555'
					}
				});
			
			
				$('#recent-box [data-rel="tooltip"]').tooltip({placement: tooltip_placement});
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('.tab-content')
					var off1 = $parent.offset();
					var w1 = $parent.width();
			
					var off2 = $source.offset();
					//var w2 = $source.width();
			
					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}
			
			
				$('.dialogs,.comments').ace_scroll({
					size: 300
			    });
				
				
				//Android's default browser somehow is confused when tapping on label which will lead to dragging the task
				//so disable dragging when clicking on label
				var agent = navigator.userAgent.toLowerCase();
				if(ace.vars['touch'] && ace.vars['android']) {
				  $('#tasks').on('touchstart', function(e){
					var li = $(e.target).closest('#tasks li');
					if(li.length == 0)return;
					var label = li.find('label.inline').get(0);
					if(label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation() ;
				  });
				}
			
				$('#tasks').sortable({
					opacity:0.8,
					revert:true,
					forceHelperSize:true,
					placeholder: 'draggable-placeholder',
					forcePlaceholderSize:true,
					tolerance:'pointer',
					stop: function( event, ui ) {
						//just for Chrome!!!! so that dropdowns on items don't appear below other items after being moved
						$(ui.item).css('z-index', 'auto');
					}
					}
				);
				$('#tasks').disableSelection();
				$('#tasks input:checkbox').removeAttr('checked').on('click', function(){
					if(this.checked) $(this).closest('li').addClass('selected');
					else $(this).closest('li').removeClass('selected');
				});
			
			
				//show the dropdowns on top or bottom depending on window height and menu position
				$('#task-tab .dropdown-hover').on('mouseenter', function(e) {
					var offset = $(this).offset();
			
					var $w = $(window)
					if (offset.top > $w.scrollTop() + $w.innerHeight() - 100) 
						$(this).addClass('dropup');
					else $(this).removeClass('dropup');
				});
			
			})
        </script>
        <script type="text/javascript">

function find_subcategory(val){
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 200 || this.status == 304)) {
  
  var subcat=new Array();
  subcat=JSON.parse(this.responseText);

  
  var select = document.getElementById('subcat');
       for(var i = select.options.length - 1 ; i > 0 ; i--) {
         select.remove(i);
        }
  
  for(var i=0;i<subcat.length;i++) { 
            option = document.createElement('option');
            option.value =subcat[i].subcategory ;
            option.text = subcat[i].subcategory ;
            select.appendChild(option);
     }
    }
  };
  xhttp.open("GET", "/user_search_category?category="+val,true);
  xhttp.send();
}

</script>
       
    </body>
</html>
